.App {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0rem;
}

.head-container {
  background-color: rgb(235, 228, 220);
  display: flex;
  margin: 0rem;
  padding: 0rem;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  align-items: top;
  position: sticky;
  top: 0;
}

.title {
  text-decoration: none;
  color: rgb(0, 119, 170);
  margin: 0 0.5rem;
}

.navigation {
  display: flexbox;
  justify-content: space-between;
  position: absolute;
  right: 0rem;
  align-items: flex-end;
  margin: 0rem;
}

nav {
  display: flex;
  justify-content: space-between;
  position: static;
  flex-direction: column;
  padding: 0 1rem;
  margin: 1rem 0;
}

nav a {
  display: block;
  justify-content: space-between;
  text-decoration: none;
  font-weight: 500;
  margin: 0 0.5rem;
  color: #111;
}

nav ul {
  display: flex;
}

.navigation nav a:hover {
  color: rgb(0, 119, 170);
} 

.dashboard , h2 {
  display: block;
  margin: 1rem;
  align-items: center;
}

.dashboard {
  width: 100%;
  padding: 0rem;
  flex-direction: column;
  margin: 0rem;
  align-items: top;
  position: sticky;
  top: 1rem;
}

.active {
  color: rgb(0, 119, 170);
}

nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 03rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  align-items: center;
  height: 0.0rem;
}

nav .menu span {
  display: flex;
  height: 0.3rem;
  width: 100%;
  background-color:  rgb(0, 119, 170);
  border-radius: 0.2rem;
  border-color: rgba(245, 222, 179, 0);
}

@media (max-width: 810px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }
}

h3 {
  margin: 0.3rem 0.1rem;
}

img {
  margin: 1rem 0.3rem;
}

.DashList, li, Link {
  display: flex;
  padding: 1rem 0;
  list-style: none;
}

.DashList a {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #333;
}

.navigation div {
  display: flex;
  flex-direction: column;
}


.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.1rem;
  margin: 0 3rem;
}

.auth-form-container {
  padding: 1rem;
  margin: 0 19rem;
  border: 1px solid #333;
  border-radius: 6px;
  margin:  0.5rem 2rem;
}

label {
  text-align: left;
  padding: 0rem;
}

input {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 6px;
  border-color: #111;
}

button {
  border: none;
  color: white;
  padding: 1rem 34px;
  background-color: #111;
  border-radius: 6px;
  margin: 0.3rem 0.1rem;
}

button:hover {
  color: white;
  background-color: rgb(0, 119, 170);
}

.link-btn {
  background: none;
  color: rgb(0, 119, 170);
  text-decoration: underline;
}

.dash {
  display: block;
  align-items: center;
  background-color: #fdfdfd;
  border: 1px solid #333;
  margin: 0.3rem 2rem;
  padding: 0.2rem 1.5rem;
  border-radius: 6px;
}

.dash:hover {
  border: 2px solid rgb(0, 119, 170);
  align-items: center;
  background-color: #fdfdfd;
}

.cardContainer a {
  display: flex;
  align-items: center;
  color: #333;
}

.cardContainer a:hover {
  color:  rgb(0, 119, 170);
}