.App {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.head-container {
  background-color: rgb(235, 228, 220);
  display: flex;
  margin: 0rem;
  padding: 0rem;
  justify-content: space-between;
  height: 5%;
  align-items: top;
  position: sticky;
  top: 0;
}

.title {
  text-decoration: none;
  color: rgb(0, 119, 170);
  margin: 1rem;
}

.navigation {
  display: flexbox;
  justify-content: space-between;
  position: absolute;
  right: 0rem;
  align-items: flex-end;
  margin: 0rem;
}

nav {
  display: flexbox;
  justify-content: space-between;
  position: static;
  padding: 1rem;
  margin: 1rem;
}

.navigation nav a {
  text-decoration: none;
  color: #111;
}

.navigation nav a:hover {
  text-decoration: none;
  color: rgb(0, 119, 170);
} 

.dashboard , h2 {
  display: block;
  margin: 1.5rem;
  align-items: center;
}

.DashList, li, Link {
  display: flex;
  padding: 1rem;
  align-items: center;
  align-content: center;
  list-style: none;
}

.DashList a {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: rgb(0, 119, 170);
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

.auth-form-container {
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 6px;
  margin:  0.5rem 2rem;
}

label {
  text-align: left;
  padding: 0rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 6px;
  border-color: #111;
}

button {
  border: none;
  color: white;
  padding: 1rem 39px;
  background-color: #111;
  border-radius: 6px;
  margin: 0.5rem 1.5rem;
}
button:hover {
  border: none;
  color: white;
  padding: 1rem 39px;
  background-color: rgb(0, 119, 170);
  ;
  border-radius: 6px;
  margin: 0.5rem 1.5rem;
}

.link-btn {
  background: none;
  color: rgb(0, 119, 170);
  text-decoration: underline;
}